
## <summary>policy for iridium</summary>


########################################
## <summary>
##	Transition to iridium.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`iridium_domtrans',`
	gen_require(`
		type iridium_t, iridium_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, iridium_exec_t, iridium_t)
')


########################################
## <summary>
##	Execute iridium server in the iridium domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`iridium_initrc_domtrans',`
	gen_require(`
		type iridium_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, iridium_initrc_exec_t)
')


########################################
## <summary>
##	Search iridium lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`iridium_search_lib',`
	gen_require(`
		type iridium_var_lib_t;
	')

	allow $1 iridium_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read iridium lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`iridium_read_lib_files',`
	gen_require(`
		type iridium_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, iridium_var_lib_t, iridium_var_lib_t)
')

########################################
## <summary>
##	Manage iridium lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`iridium_manage_lib_files',`
	gen_require(`
		type iridium_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, iridium_var_lib_t, iridium_var_lib_t)
')

########################################
## <summary>
##	Manage iridium lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`iridium_manage_lib_dirs',`
	gen_require(`
		type iridium_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, iridium_var_lib_t, iridium_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a iridium environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`iridium_admin',`
	gen_require(`
		type iridium_t;
		type iridium_initrc_exec_t;
		type iridium_var_lib_t;
	')

	allow $1 iridium_t:process { ptrace signal_perms };
	ps_process_pattern($1, iridium_t)

	iridium_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 iridium_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, iridium_var_lib_t)

')

